.large {
  width: 50px;
}

.small {
  width: 24px;
  filter: invert(98%) sepia(0%) saturate(3255%) hue-rotate(228deg)
    brightness(120%) contrast(101%);
}

.loader {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
